.premier {
  background-color: green;
  height: 40vh;
  margin-right: 1vw;
}

.align {
  height: 40vh;
}

.deuxieme {
  background-color: rgb(128, 0, 0);
  height: 19vh;
  width: 12vw;
  margin-bottom: 1vh;
}
.troisieme {
  margin-top: 1vh;
  background-color: blue;
  height: 19vh;
  width: 12vw;
}

.quattrieme {
  background-color: grey;
  margin-bottom: 1vh;

  height: 19vh;
  width: 12vw;
}
.cinquieme {
  margin-top: 1vh;
  background-color: rgb(255, 5, 255);
  height: 19vh;
  width: 12vw;
  margin-bottom: 1vh;
}

.sixieme {
  background-color: aqua;
  height: 40vh;
  margin-right: 1vw;
}

.septieme {
  background-color: chocolate;
  height: 19vh;

  margin-bottom: 1vh;
}

.huitieme {
  margin-top: 1vh;
  background-color: rgb(197, 194, 0);
  height: 19vh;
  width: 13vw;
}

@media screen and (max-width: 900px) {
  .align {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: auto;
  }

  .premier {
    width: 80vw;

    margin-bottom: 1vh;
    margin-left: 0;
  }

  .deuxieme {
    width: 38vw;
    margin: 0;
    margin-bottom: 1vh;
  }
  .troisieme {
    width: 38vw;
    margin: 0;
    margin-bottom: 1vh;
  }
  .quattrieme {
    width: 38vw;
    margin: 0;
    margin-bottom: 1vh;
    margin-left: 8vw;
  }
  .cinquieme {
    width: 38vw;
    margin: 0;
    margin-bottom: 1vh;
    margin-left: 8vw;
  }

  .sixieme {
    width: 80vw;

    margin-bottom: 1vh;
  }

  .septieme {
    width: 38vw;

    margin-right: 2vw;
  }
  .huitieme {
    width: 38vw;
    margin: 0;
    padding: 0;
    margin-left: 2vw;
  }
}
